/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: lighter;
  font-family: "Roboto";
  color: #333333;

  letter-spacing: -0.02em;
  word-spacing: -0.02em;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}


/* background image */
body {
  line-height: 1;
  height: 100%;
  background-color: #CCCCCC;
  min-width: 200px;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Fonts and spacing */
p, h1, h2, a{
  margin-top: 1vh;
  margin-bottom: 1vh;
}

h1{
  text-align: center;
  font-size: 200%;
}

h2, a{
  font-size: 80%;
}

p{
  font-size: 125%;
}


/* front page grid */
.titlebox{
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 33vh 34vh 33vh;
  background-image: url(MachuPicchuBackgroundImage.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  grid-column: 1;
  grid-row: 1;
}

.logo img{
  max-width: 15vw;
  max-height: 15vh;
}

.splashtitle{
  grid-column: 2;
  grid-row: 2;
  border: solid;
  border-width: thick;
  border-color: #FFFFFF;
  padding: 5%;
  font-family: "Verdana";
  letter-spacing:0.10em;
  word-spacing:0.25em;
  color:#FFFFFF;
  font-size: 7vw;
  text-align: center;
  font-weight: 100;
  align-self: center;
}

.arrow{
  grid-column: 2;
  grid-row: 3;
  padding-bottom: 3vh;
  align-self: flex-end;
  justify-self: center;
}

.arrow img{
  max-width: 5vw;
  max-height: 5vh;
}


/* about me flexbox */
.abtme{
  max-width: 85vw;
  margin: auto;
  background-color: #fcfcfc;
}

.JustABox{
  display: flex;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.abtwords{
  flex: 1 1 auto ;
  max-width: 50vw;
  min-width: 40vw;
  box-sizing: border-box;
  padding: 3vw;
}

.abtphoto img{
  flex: 1 0 auto;
  box-sizing: border-box;
  max-height: 60vh;
  min-height: 30vh;
  padding: 3vw;
}


/* Panels */
.interests{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "career hobbies education";
  grid-column-gap: 5vw;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
}

.panel{
  background: #ffffff;
  text-align: center;
  border-radius: 1vw;
}

.panel img{
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  width: 25vw;
  height: 25vw;
}


/*media queries*/
@media screen and (max-aspect-ratio: 5/4 ), (max-width:600px){
.JustABox{
  flex-wrap: wrap-reverse;
}
.abtwords{
  max-width: 80vw;
}
.abtphoto img{
  max-width: 60vw;
  min-height: auto;
}
}

@media screen and (max-width:700px){
.interests{
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "career"
    "hobbies"
    "education";
  margin-left: 25vw;
  margin-right: 25vw;
  grid-row-gap: 12vw;
}
.panel img{
  width: 50vw;
  height: 50vw;
}
}

@media screen and (max-aspecr-ratio:7/3), (max-height:400px){
.abtphoto img{
  width: auto;
  height: 235px;
  max-height: none;
  min-height: none;
}
}

/*contact informtaion*/
.footer{
  width: 100vw;
  padding: 50px 0;
  background: #FFFFFF;
  text-align: center;
  margin-top: 10vw;
}
